@import "../helpers/functions";

.container_end {
    padding: toRem(37px) toRem(30px) 0 toRem(30px);
    background-image: url("../../../images/devmeup2.png");
    background-color: #DFDEDE;
    background-repeat: no-repeat;
    background-position: bottom toRem(50px) right 40px;
}

.hdl_end {
    font-size: toRem(64px);
    text-align: center;
    margin-bottom: toRem(11px);
    line-height: toRem(62.5px);
}

.text_end {
    text-align: center;
    font-size: toRem(20px);
    line-height: toRem(26.5px);
    margin-bottom: toRem(329px);
}

.btn_download {
    margin-right: toRem(30px);
}

.buttons_end {
    display: flex;
    justify-content: center;
}

