@import "../helpers/variables";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: toRem(20px) toRem(40px) toRem(25px) toRem(15px);
}

.logo{
    font-style: normal;
    font-weight: 400;
    font-size: toRem(36px);
    line-height: toRem(45px);
    margin: 0;
}

.menu_hamburger{
    border-radius: toRem(16px);
    margin-top: toRem(15px);
    padding: toRem(50px);

}

.menu_item{
    font-weight: 500;
    font-size: toRem(14px);
    line-height: toRem(20px);
    color: #1D192B;
    padding: toRem(25px);
}

.menu_item:hover{
    background: #E8DEF8;
    border-radius: toRem(100px);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #424141;
    padding-top: toRem(40px);
    padding-bottom: toRem(40px);
    border-radius: 0 0 toRem(30px) toRem(30px);
    box-shadow: inset 0 4px 22px 4px rgba(0, 0, 0, 0.6);

    .logo{
        color: #FFFFFF;
        margin-left: toRem(60px);
        line-height: 45px;
    }

    .btn_newsletter_add{
        margin-right: toRem(39px);
    }
}
