.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 25px 15px;

}
.logo{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    margin: 0;
}

.menu_hamburger{
    border-radius: 16px;
    margin-top: 15px;
    padding: 50px;

}

.menu_item{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D192B;
    padding: 25px;
}

.menu_item:hover{
    background: #E8DEF8;
    border-radius: 100px;
}
