@import "variables";

.btn_newsletter_add {
    color: #000;
    font-style: normal;
    font-size: $base-font-size;
    line-height: toRem(20px);
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: toRem(100px);
    padding: toRem(10px) toRem(24px);
    text-decoration: none;
}