html, body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.container_hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2.5rem 1.5625rem 0.9375rem;
  background: #DFDEDE;
}

.logo {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  margin: 0;
}

.menu_hamburger {
  border-radius: 1rem;
  margin-top: 0.9375rem;
  padding: 3.125rem;
}

.menu_item {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #1D192B;
  padding: 1.5625rem;
}

.menu_item:hover {
  background: #E8DEF8;
  border-radius: 6.25rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #424141;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 3.75rem;
  border-radius: 0 0 1.875rem 1.875rem;
  box-shadow: inset 0 4px 22px 4px rgba(0, 0, 0, 0.6);
}
.navigation .container-logo {
  display: flex;
  align-items: center;
}
.navigation .logo {
  color: #FFFFFF;
  line-height: 45px;
  margin-left: 0.6875rem;
  margin-right: 0.3125rem;
}
.navigation .btn_newsletter_add {
  margin-right: 2.4375rem;
  margin-bottom: 0;
}
.navigation .container-btn {
  display: flex;
  align-items: center;
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.box_section {
  background-image: url("../../../images/mac_icon_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.9375rem 1.875rem;
  background-color: #DFDEDE;
}
.box_section .hd1 {
  font-style: normal;
  font-size: 6rem;
  line-height: 62px;
  text-align: center;
  color: #000;
  margin-bottom: 23.25rem;
}
.box_section .hd1 .hd1-indent {
  text-align: start;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 0;
}
.box_section .hd1 .hd1-center {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.box_section .hd1 .hd1-indent2 {
  text-align: end;
  margin: 0;
}
.box_section .buttons_first_section {
  display: flex;
  justify-content: center;
}
.box_section .buttons_first_section .btn_newsletter_add {
  border: none;
  margin-bottom: 5.625rem;
}
.box_section .buttons_first_section .btn_download {
  margin-right: 2.4375rem;
}

.desktop_page {
  padding: 3.75rem;
  background-color: #DFDEDE;
  height: 100%;
}
.desktop_page .h1_desktop {
  font-size: 13.75rem;
  text-align: center;
  color: white;
  text-shadow: -11px 10px 0px #CE0E0E, -22px 20px 0px rgba(0, 133, 255, 0.25);
  margin: 0;
}
.desktop_page .h1_desktop .p_desktop {
  margin-bottom: 0.0625rem;
  margin-top: 0;
}
.desktop_page .h1_desktop .paragraphs_desktop {
  display: flex;
  justify-content: center;
}
.desktop_page .h1_desktop .p2_desktop {
  margin: 0;
}
.desktop_page .phone_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop_page .phone_and_buttons .buttons_download {
  display: flex;
  flex-direction: row;
}
.desktop_page .phone_and_buttons .buttons_download .google_download {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2.0625rem;
}
.desktop_page .phone_and_buttons .buttons_download .apple_download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.btn_newsletter_add {
  color: #6750A4;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25rem;
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6.25rem;
  padding: 0.625rem 1.5rem;
  text-decoration: none;
}

.box_newsletters {
  background-color: #DFDEDE;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../images/newsletter_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 6.6875rem right 0;
  padding: 0.9375rem 1.875rem;
  box-sizing: border-box;
}

.hdl_newsletter {
  font-style: normal;
  font-size: 4rem;
  line-height: 3.875rem;
  margin-top: 5.8125rem;
  margin-bottom: 0.6875rem;
  text-align: center;
}

.text_newsletter {
  margin-top: 0;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 21.25rem;
}

.btn_newsletter_add {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 4.625rem;
}

html, body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.container_opinions {
  background-image: url("../../../images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 74px 30px 0 30px;
  background-color: #DFDEDE;
}

.hdl {
  font-family: sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 62px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 0;
}

.text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 201px;
  text-align: center;
  margin-top: 0;
}

.btn_box_opinions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_box_opinions .btnAppStore {
  text-align: center;
  margin-bottom: 20px;
}
.btn_box_opinions .btnGooglePlay {
  margin-bottom: 94px;
}

.container_end {
  padding-top: 5.625rem;
  background-image: url("../../../images/devmeup2.png");
  background-color: #DFDEDE;
  background-repeat: no-repeat;
  background-position: bottom 3.125rem right 40px;
}

.hdl_end {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0.6875rem;
  line-height: 3.90625rem;
}

.text_end {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.65625rem;
  margin-bottom: 20.5625rem;
}

.btn_download {
  margin-right: 1.875rem;
}

.buttons_end {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
