[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
dj-database-url = "==1.2.0"
psycopg2 = "==2.9.5"
django-debug-toolbar = "==3.8.1"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
drf-spectacular = "==0.25.1"
celery = "==5.2.7"
django-celery-results = "==2.4.0"
django-celery-beat = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.11"
