[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
dj-database-url = "==1.2.0"
psycopg2 = "==2.9.5"

[dev-packages]

[requires]
python_version = "3.11"
